@using Licence

<div class="row">
    <div class="col-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="content">
                    <div class="col-12 row">
                        <div class="row col-3">
                            @((MarkupString)autherDetails.Image)
                        </div>
                        <div class="col-md-8 row">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <UXC_Label LabelValue="Name : "></UXC_Label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <UXC_Label LabelValue="@autherDetails.Name"></UXC_Label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <UXC_Label LabelValue="Phone : "></UXC_Label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <UXC_Label LabelValue="@autherDetails.Phone"></UXC_Label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <UXC_Label LabelValue="Email : "></UXC_Label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <UXC_Label LabelValue="@autherDetails.Email"></UXC_Label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <UXC_Label LabelValue="Email : "></UXC_Label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <UXC_Label LabelValue="@autherDetails.Email"></UXC_Label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <UXC_Label LabelValue="Email : "></UXC_Label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <UXC_Label LabelValue="@autherDetails.Email"></UXC_Label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    AutherDetails autherDetails = new AutherDetails();

    protected override async Task OnInitializedAsync()
    {
        LicenceCheck obj = new LicenceCheck();

        autherDetails = obj.getAuthorDetails();
    }
}